#include "Header.h"
MyIcon ICON MOVEABLE PURE LOADONCALL DISCARDABLE  "Sdk.ico"
MyIcon2 BITMAP DISCARDABLE "Sdk2.bmp"
MyPic BITMAP DISCARDABLE "MyPic.bmp"
MyMenu MENU
BEGIN
     POPUP "&File"
     BEGIN
        MENUITEM SEPARATOR
          MENUITEM "&Exit",MITEM_Exit
     END
     POPUP "&Option"
     BEGIN
          MENUITEM "&ReSet Game",MITEM_ReSet,GRAYED
          MENUITEM "&Help By Adding one",MITEM_ADDone,GRAYED
          MENUITEM SEPARATOR
          MENUITEM "&NewGame\tF1",MITEM_NewGame
          MENUITEM SEPARATOR
          MENUITEM "&Check",MITEM_CHECK,GRAYED
     END
     MENUITEM "Help",MITEM_Help
     MENUITEM "About",MITEM_ABOUT
END

LevelDlg DIALOGEX 0,0,139,63
CAPTION "Select Level You wanna:"
FONT 8,"MS Sans Serif"
STYLE 0x10c00000
EXSTYLE 0x00000000
BEGIN
	CONTROL "Level:",800,"Button",0x50000007,1,1,76,58,0x00000000
	CONTROL "Level 1.",IDC_LV1,"Button",0x50010009,9,14,41,10,0x00000000
	CONTROL "Level 2.",IDC_LV2,"Button",0x50010009,9,26,41,10,0x00000000
	CONTROL "Level 3.",IDC_LV3,"Button",0x50010009,8,38,41,10,0x00000000
	CONTROL "Ok",IDC_BUTTONOK,"Button",0x50010000,87,46,43,12,0x00000000
END


101 DIALOGEX 0,0,225,166
CAPTION "About Me"
FONT 8,"Tahoma"
STYLE 0x80c40880
EXSTYLE 0x00000000
BEGIN
	CONTROL "OK",IDC_OK,"Button",0x10000001,154,148,66,14,0x00000000
	CONTROL "My Picture:",IDC_GROUPBOX1005,"Button",0x50000007,113,6,107,139,0x00000000
	CONTROL "About Me:",IDC_GROUPBOX1006,"Button",0x50000007,4,6,107,138,0x00000000
    CONTROL "Programmed in  By \nAmazzal Elhabib\n(The Inventor Habib)\n[MoroccanHackAttackx@hotmail.com]",32,"Edit",0x50b10884,10,18,94,121,0x00000000
END
